/*
sélecteur {
        propriété-css: valeur
}
*/
.body {
    padding-bottom: 2800px;
}
.barre_grise {
    position: fixed;
    width: 5%;
    margin-left: 30px;
    margin-top: 170px;
    margin-top: ;
}
.recherche {
    position:fixed;
    width: 3%;
    margin-left: 45px;
    margin-top: 200px;
}
.horaires {
    position:fixed;
    width: 3%;
    margin-left: 45px;
    margin-top: 280px;
}
.lieux {
    position:fixed;
    width: 3%;
    margin-left: 45px;
    margin-top: 365px;
}
.reservation {
    position:fixed;
    width: 3%;
    margin-left: 45px;
    margin-top: 440px;
}