.foot {
    background-color: black;
    padding-bottom: 97px;
}
a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    left: 133px;
    margin-bottom: 133px;
    margin-left: 90px;
}

.res{
    justify-content: space-between;
}
a:hover{
    color: #E30000;
}
.logo1{
    padding-left: 133px;
    padding-top: 100px;
}
.parts {
    text-decoration: none;
    font-family: Montserrat;
    text-align: center;
    color: white
}
.minist {
    padding-left: 10%;
    padding-top: 10%;
}
.colline {
    padding-left: 2%;
}
.ba {
    padding-left: 1%;
}
.itm {
    padding-left: 3%;
}
.pp {
    padding-left: 3%;
}
.akar {
    padding-left: 3%;
}
.droitegauche {
    font-family: Montserrat;
    display:flex;
    justify-content: space-between;
}
.suivre {
    font-family: Montserrat;
    justify-content: flex-end;
    margin-left: 100px;
    margin-top: 175px;
    color: white
}
.boutonC {
    margin-bottom: 120px;
    margin-left: 741px;
    width: 237px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #920A0A;
    color: white;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    flex-wrap: wrap;
    margin-left: 95px;
    margin-top: 20px;
}

.boutonC:hover {
    color: #920a0a;
    background:white;
    margin-left: 90px;
}
.liste_g {
    margin-top: 80px;
    font-size: 50px;
}
.liste_d {
    margin-top: 105px;
    margin-right: 50px ;
    font-size: 50px;
}