body {
    background-color: white;
}
.newsletter {
    background-color: #4D5BA0;
    padding-top: 2%;
    padding-bottom: 2%;
}
h2 {
    color: white;
    font-size: 400%;
    font-family: 'Montserrat Alternates';
    font-weight: 150%;
    word-wrap: break-word;
    text-align: center;
    margin-top: 2%;
}

.newsletter p{
    color: white;
    font-size: 190%;
    font-family: 'Montserrat';
    margin-top: 2%;
    font-weight: 500;
    word-wrap: break-word;
    justify-content: center;
    text-align: center;
}

.boutonR-small {
    font-size: 200%;
    text-align: left;
    font-family:'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    border-radius: 60px;
    line-height: normal; 
    background: #920A0A;
    color: white;
    border: none;
    cursor: pointer;
    color: #FFF;
    padding: 10px 20px;

}


.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 20px;
    flex-wrap: wrap;
    font-style: italic;
}

.newsletter-form input {
    padding: 20px 20px;
}
